.container {
    width: 100%;
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.divider {
    display: flex;
    flex-direction: column;
}