@font-face {
    font-family: 'Poppins-semibold';
    src: url('../../../public/fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../../../public/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-black';
    src: url('../../../public/fonts/poppins/Poppins-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 260px;
    width: 90%;
    gap: 20px;
}

.frameworkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage {
    width: 80%;
    height: 500px;
}
.tittle {
    font-family: 'Poppins-black';
    color: #EC671B;
    margin: 0;
    font-size: 25px;
    line-height: 1;
}

.subtittle {
    font-family: 'Poppins-semibold';
    color: #EC671B;
    margin: 0;
    font-size: 20px;
    line-height: 1;
}

.text {
    font-family: 'Poppins-regular';
    font-size: 15px
}

.link {
    text-decoration: none;
    color: #ec671b;
    transition: transform 0.2s linear;
}

.link:hover {
    transform: scale(1.1);
}

/*! ------------------------------------------------------------------------------------------------------------- !*/

.separator {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.separato {
    display: flex;
    gap: 20px;
}

.separator1, .separator2 {
    flex: 1;
}

.separator3, .separator4, .separator5 {
    flex: 2;
}


.separator1, .separator2, .separator3, .separator4, .separator5 {
    background-color: #3663AD;
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    padding-top: 350px;
}

.bg1, .bg2, .bg3, .bg4, .bg5 {
    position: absolute;
}

.bg1 {
    margin-top: -260px;
    margin-left: 200px;
}

.bg2 {
    margin-top: -240px;
    margin-left: 220px;
}

.bg3 {
    margin-top: -250px;
    margin-left: 100px;
}

.bg4 {
    margin-top: -235px;
    margin-left: 120px;
}

.bg5 {
    margin-top: -230px;
    margin-left: 100px;
}

