@font-face {
    font-family: 'Poppins-bold';
    src: url('../../../public/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../../../public/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    color: #000;
}

.gridContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 2fr 2fr; 
    gap: 75px 55px; 
    grid-template-areas: 
      "div1 div2 div3"
      "Div-4-y-5 Div-4-y-5 Div-4-y-5"; 
    width: 75%;
    margin-left: 12%;
    padding: 15px;
    color: #fff;
}

.Div45 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 25px 25px; 
    grid-template-areas: 
      "div4 div5"; 
    grid-area: Div-4-y-5;
}

.div4 { grid-area: div4; background-color: #3663AD; border-radius: 20px; padding: 15px;}
.div5 { grid-area: div5; background-color: #3663AD; border-radius: 20px; padding: 15px;}
.div1 { grid-area: div1; background-color: #3663AD; border-radius: 20px; padding: 15px;}
.div2 { grid-area: div2; background-color: #3663AD; border-radius: 20px; padding: 15px;}
.div3 { grid-area: div3; background-color: #3663AD; border-radius: 20px; padding: 15px;}

.imageContainer {
    width: 100%;
    position: relative;
}

.imageContainer img {
    width: 1545px;
    height: 661px;
    object-fit: cover;
}

.textOverlay {
    position: absolute;
    top: 10px;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 100px;
    justify-content: center;
    line-height: 1;
}

.text {
    font-family: 'Poppins-bold';
    font-size: 30px;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 1px #000;
}

.text1 {
    font-family: 'Poppins-bold';
    font-size: 20px;
}

.subtitle {
    font-family: 'Poppins-regular';
    font-size: 18px;
    color: #000;
}

.subtittle {
    font-family: 'Poppins-bold';
    font-size: 24px;
}
.linkTo {
    position: relative;
    text-decoration: none;
    color: #EC671B;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    text-shadow: 0px 0px #000;
}

.linkTo:hover {
    background-color: #EC671B;
    color: #3663AD;
}

.divSeparator{
    width: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
}

.divSeparator1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 80px;
}

.divSeparator2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 30px;
}

.divSeparator3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 129px;
}

.divSeparator4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 29px;
}

.divSeparator5 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 4px;
}

.footer{
    background-color: #264a83;
    width: 100%;
    height: 100px;
    border-top: 5px solid #EC671B;
}

.titleService {
    font-family: 'Poppins-bold';
}

.p {
    font-family: 'Poppins-regular';
}

@media screen and (max-width: 1280px) {
    .divSeparator1 {
        top: 129px;
    }

    .divSeparator2 {
        top: 79px;
    }

    .divSeparator3 {
        top: 204px;
    }

    .divSeparator4 {
        top: 54px;
    }
}