@font-face {
    font-family: 'Poppins-bold';
    src: url('../../../../public/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../../../../public/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.courseContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  
.courseDetailContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  
.courseImageContainer {
    width: 100%;
}
  
.courseImage {
    border-radius: 15px;
    height: 150px;
    width: 100%;
    transition: opacity 0.7s;
}

.courseImage:hover {
    opacity: 0.8;
}
  
.courseInfoContainer {
    margin-top: 15px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
    font-family: 'Poppins-regular';
}
  
.courseName {
    font-family: 'Poppins-bold';
    margin-top: -1em;
}
  
.coursePrice {
    margin-top: -4px;
}

.courseDescription {
    margin: 0;
}

.courseLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    margin-top: calc(150px + 1vh);
    margin-left: calc(90px + 1vw);
}

.registerButton {
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    border: none;
}

.classButton {
    border-radius: 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border: none;
}

@media screen and (max-width: 1280px) {
    .courseLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        margin-top: calc(150px + 1vh);
        margin-left: calc(90px + 1vw);
    }
}

