@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../../public/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    font-family: 'Poppins-Bold';
    font-size: 18px;
}

.divLeft {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    width: 600px;
    background-color: #fff;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-color: #fff;
    border-style: solid;
    margin: 0;
}

.leftContainer {
    width: 100%;
    margin: 0;
}



.divRight {
    display: flex;
    position: relative;
    padding: 45px;
    width: 100%;
}

.rightContainer {
    width: 55%;
    position: absolute;
    display: flex;
    top: 30px;
    left: 620px;
    gap: 30px;
    z-index: 5;
}

.divStyle {
    display: flex;
    position: absolute;
    top: 0;
    left: 413px;
}

.box {
    display: flex;
    position: fixed;
    height: 86px;
    width: 1285px;
    z-index: -1;
}
  
.box .vector {
    display: flex;
    position: fixed;
    height: 87px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1287px;
    z-index: -1;
}

.image {
    width: 25%;
    position: relative;
    display: flex;
    margin-left: 100px;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
}

.link:hover {
    background-color: #EC671B;
}

.link--active {
    background-color: #EC671B !important;
}

@media screen and (max-width: 1280px) {
    .container {
        font-size: 15px;
    }

    .divLeft {
        width: 500px;
    }

    .divRight {
        padding: 45px;
    }

    .rightContainer {
        width: 55%;
        position: absolute;
        display: flex;
        left: 570px;
        gap: 25px;
    }

    .divStyle {
        left: 343px;
    }

    .box, .box .vector {
        width: 100%;
    }

    .image {
        margin-left: 75px;
    }
}